# Python cache
__pycache__/
*.py[cod]
*.pyc

# Arquivo com Variáveis de Ambiente
.env
*.pbix
*.png

# ambiente virtual  
.venv/

# Medallion data
data/raw/
data/bronze/
data/silver/
data/gold/
!data/bronze/**/.gitkeep
!data/silver/**/.gitkeep
!data/gold/**/.gitkeep